username = "username"
password = "password"

# Advanced settings
server_address = "rvpn.zju.edu.cn"
server_port = 443
disable_server_config = false
disable_zju_config = false
disable_zju_dns = false
disable_multi_line = false
proxy_all = false
socks_bind = ":1080"
socks_user = ""
socks_passwd = ""
http_bind = ":1081"
tun_mode = false
add_route = false
dns_ttl = 3600
disable_keep_alive = false
zju_dns_server = "10.10.0.21"
secondary_dns_server = "114.114.114.114"
dns_server_bind = ""
tun_dns_server = ""
debug_dump = false

# Port forwarding
port_forwarding = [
    { network_type = "tcp", bind_address = "127.0.0.1:9898", remote_address = "10.10.98.98:80" },
    { network_type = "tcp", bind_address = "127.0.0.1:9899", remote_address = "10.10.98.98:80" },
    { network_type = "udp", bind_address = "127.0.0.1:1053", remote_address = "10.10.0.21:53" }
]

custom_dns = [
    { host_name = "appservice.zju.edu.cn", ip = "10.203.8.198"},
    { host_name = "www.cc98.org", ip = "10.10.98.98"}
]